<body>
    <div clss= "entitydetails-container" >
    
    <div class="w3-container w3-teal">
            <div class="sur-header-logo">
                <img src=".\assets\images\flavours.png" alt="" >
                <h1>FlAvOuRs CaStLe</h1>
            </div>
    
    </div>
    <div class="sur-hero-image">
        <h2>Thank​ ​you​ ​for​ your Feedback </h2>
     
      
      </div>

    <div class="w3-container w3-teal">
        <span class="sur-fouter-logo">
            <img src=".\assets\images\flavours.png" alt="" >
            <p class="sur-footer-copyright">&copy;2017 FlAvOuRs CaStLe.</p>
        </span>

</div>
  </div>

</body>